/*configs gerais*/
body{
    background-color: #FAFFF5;
}

/* home config*/
#home{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 50px;
}

#home #logo{
    /* a logo que fica no home*/
    margin: 0 0 40px 350px;
}

#apresentacao {
    font-size: 1.19em;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    margin-bottom: 100px;
    text-align: justify;
}

#home #foto1, #home #foto2{
    display: flex;

}
#home #foto1 #foto{
    border: solid 2px #034F0A;
    padding: 15px 15px 10px 15px;
    border-radius: 8px;
}

#home #foto1 #foto p{
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Times New Roman', Times, serif;
}

#home #foto1 #foto #faixada{
    height: 300px;
    width: 450px;
    border-radius: 8px;
}
#home #foto1 #texto{
    margin-left: 60px;
    margin-top: 80px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    text-align: justify;
}
#home #foto2 #texto{
    margin-left: 15px;
    margin-top: 80px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    text-align: justify;
}
#home #foto1 #texto p:hover{
    color: #034F0A;
    font-size: 105%;
}
#home #foto2 #texto p:hover{
    margin-left: -10px;
    color: #034F0A;
    font-size: 105%;
}



#home #foto2 {
    margin-top: -40px;
    margin-left: 240px;
}
#home #foto2 #linkMaps{
    text-decoration: none;
    margin-left: 100px;
}

#home #foto2 #maps {
    border: solid 2px #034F0A;
    border-radius: 8px ;
}

#home #foto2 #maps #titulo {
    border: 2px solid #034F0A;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 5px;
    font-size: 2.2em;
    padding: 13px;
    padding: -1px;
    text-shadow: 2px 2px 4px #000000;
    color: #fff;
    background-color: #34A853;
}

#home #foto2 #maps #titulo:hover{
    font-size: 2.3em;
}

#home #foto2 #maps #espacamento{
    padding: 10px;
}

#home #foto2 #maps #imagem {
    border-radius: 8px;
    border:solid 1px #034F0A;
}


#home #avaliacao #tabel {
    border: solid 2px #034F0A;
    border-radius: 8px ;
}

#home #avaliacao #tabel #titulo {
    border: 2px solid #034F0A;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 5px;
    font-size: 1.2em;
    padding: 13px;
    background-color: #05660e;
    padding: -1px;
  
    text-shadow: 2px 2px 4px #272727;
}
#home #avaliacao #tabel #titulo #link{
    text-decoration: none;
    color:#ffffff;
}
#home #avaliacao #tabel #texto{
    margin-left: 18px;
    margin-right: 18px;
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    text-align: justify;
}
#home #avaliacao {
    margin-left: 80px;
    margin-bottom: 50px;
}
#home #avaliacao a {
    text-decoration: none;
    color: white;
}

#home #foto2 #conteiner #titulo  #g {
    color: #4285F4; /* Azul */
}
#home #foto2 #conteiner #titulo  #o1 {
    color: #EA4335; /* Vermelho */
}
#home #foto2 #conteiner #titulo  #o2 {
    color: #FBBC05; /* Amarelo */
}
#home #foto2 #conteiner #titulo #g2 {
    color: #4285F4; /* Azul */
}
#home #foto2 #conteiner #titulo  #l {
    color: #34A853; /* Verde */
}
#home #foto2 #conteiner #titulo  #e {
    color: #EA4335; /* Vermelho */
}







/*config dicas*/

#dicas #tableDicas1{
    border:solid 2px #F6A507 ;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 8px;
    width: 450px;
}
#dicas #tableDicas2{
    border:solid 2px #F6A507 ;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 8px;
    width: 450px;
}
#dicas #tableDicas1{
    height: 120px;
    margin-left: 190px;
    margin-right: 75px;
}

#dicas #conteiner td {
    padding: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: .03em;
    font-size: 14px;
    text-align: justify;
    margin-left: 15%;
    margin-right: 15%;
}

#dicas #conteiner #titulo {
    border: 2px solid #F6A507;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    text-align: center;
    padding: 5px;
    font-size: 23px;
    border-radius: 6px;
    font-family: Arial, Helvetica, sans-serif;
}


#dicas #conteiner{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}

#dicas #conteiner strong {
    font-size: 110%;
}









/* config login*/

#bodylogin {
    font-family: Arial, sans-serif;
}

#bodylogin #tableLogin {
    border: solid 2px #F6A507;
    margin-top: 5%;
    margin-bottom: 25%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    width: 400px;
    background-color: white;
}

#bodylogin #conteiner #titulo {
    border: 2px solid #F6A507;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    background-color: #FCDCB7;
    text-align: center;
    padding: 12px;
    font-size: 15px;
    border-radius: 6px;
    font-family: Arial, Helvetica, sans-serif;
}

#bodylogin #conteiner td {
    padding: 5px;
    letter-spacing: .03em;
    font-size: 14px;
    text-align: justify;
}

#bodylogin #conteiner input[type="email"],
#bodylogin #conteiner input[type="password"] {
    width: 70%;
    padding: 8px;
    margin: 5px 12%;
    margin-top: 20px;
    margin-bottom: -50px;
    border: 1px solid #000;
    border-radius: 25px;
    
}

#bodylogin #conteiner .options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

#bodylogin #conteiner a {
    text-decoration: none;
    color: #0112B0;
    font-size: 0.9em;
    margin: 15px 5%;
}

#bodylogin #conteiner button {
    padding: 5px 10px;
    margin: 15px 5%;
    background-color: #ffffff;
    border: 1px solid #F6A507;
    border-radius: 4px;
    color: #000;
    font-size: 0.9em;
    cursor: pointer;
}

#bodylogin #conteiner button:hover {
    background-color: #FCDCB7;
    border: 2px solid #F6A507;
}

#bodylogin #conteiner strong {
    font-size: 110%;
}







/*header config*/




 



#navbar #nav {
   
    margin-right: 45px;
    margin-left: 45px;
    text-decoration: none;
    color: #fff;
    font-family: arial;
    font-size: 0.9em;
}
   
header #navbar {
    margin-top: 27px;
    display: flex;
    margin-right: 50px;
    margin-left: 15px;
    padding-right: 55px;
    padding-left: 60px;
    border-top: 2px solid #034F0A;
    border-bottom: 2px solid #034F0A;
    border-right: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    height: 63px;
   
}

/*footer config*/
footer {
    background-color: #034F0A;
    display: flex;
    width:101.35%;;
    margin-left: -0.5%;
    height: 3%;
    margin-bottom: -8px;
    justify-content: space-evenly;
}
 

footer #titulo {
    font-size: 1.4em;
    color: white;
}
 
/*editando links para seção de ajuda*/


footer #links {
    color: white;
    font-size: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    
    
}

footer #links:hover {
    color: #FFF086;
}

/*logo do footer*/
footer #logo, #linksfora, #perguntas {
    flex-grow: 1;

}

/*editando os links externos*/

#linksfora #linkfoo {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    
}

#linksfora #linkfoo:hover, footer #linksfora #Emailbotum:hover {
    color: #FFF086;
}

footer #linksfora #Emailbotum {
    font-family: Arial, Helvetica, sans-serif;
    background: none;
    border: none; 
    text-decoration: none; 
    font-size: 1em; 
    color: white;
    margin-left: -5px;
    cursor: pointer;
    
}


/* ageitando a grade de links esternos*/
footer #linksfora #linkfoo #facefoo, 
footer #linksfora #linkfoo #instfoo, 
footer #linksfora #linkfoo #whatfoo, 
footer #linksfora #Emailfoo{
    margin-top: 5px;
    margin-left: 12px;
}

/* adicionando cada um dos icones de outras paginas no footer */

footer #linksfora #linkfoo #facefoo{
    list-style-image: url('../multimidia/icones/facebook.png');

}

footer #linksfora #linkfoo #instfoo{
    list-style-image: url('../multimidia/icones/instagram.png');
}

footer #linksfora #linkfoo #whatfoo{
    list-style-image: url('../multimidia/icones/whatsapp.png');
}

footer #linksfora #Emailfoo {
    list-style-image: url('../multimidia/icones/gmail.png');
    
}



